/*.classpath
/*.project
/.settings
/tsdb-api/target
/tsdb-server/target
/tsdb-api/.settings
/tsdb-api/*.classpath
/tsdb-api/*.project
/tsdb-server/*.springBeans
/tsdb-server/*.classpath
/tsdb-server/*.project
/tsdb-server/.settings
/tsdb-server/bin
/tsdb-server/logs
/dps-producer-demo/.settings
/dps-producer-demo/demo
/dps-producer-demo/logs
/dps-producer-demo/target
/dps-producer-demo/*.classpath
/dps-producer-demo/*.project
/tsdb-server/*.rar
/tsdb-server/hmf-tsdb-2.0
/dps-producer-demo/*.rar
